<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="../css/index.css" />
  <title>Corona Virus Outbreak</title>
</head>
<body>
  <%- include('./../partials/header.ejs') %>

  <div class="container mt-3 mb-3">

    <h1 class="lead">Corona Virus (COVID-19) Outbreak in India</h1>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 mt-3 mb-3">
        <div class="card gradient-1">
          <div class="card-body">
            <span class="card-title text-light">Active Cases</span><br/>
            <span class="number"> 171 </span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 mt-3 mb-3">
        <div class="card gradient-2">
          <div class="card-body">
            <span class="card-title text-light">Confirmed Cases</span><br/>
            <span class="number">195</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 mt-3 mb-3">
        <div class="card gradient-4">
          <div class="card-body">
            <span class="card-title text-light">Recovered Cases</span><br/>
            <span class="number">20</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3 mt-3 mb-3">
        <div class="card gradient-3">
          <div class="card-body">
            <span class="card-title text-light">Deaths</span><br/>
            <span class="number">4</span>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <h1 class="lead">
      State wise
    </h1>

    <div class="card mt-3">
      <div class="card-body">

        <canvas id="myChart" width="400" height="200"></canvas>
      </div>
    </div>
  </div>

  <%- include('./../partials/footer.ejs') %>
  <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
  
      var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
    </script>
</body>
</html>