.number {
  font-weight: 800;
  font-size: 4rem;
}

body {
  background-color: #f1f2f3;
}

.card {
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.45), -4px -4px 20px #fff;
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.5);
}

.gradient-1 {
  background: linear-gradient(to right, #23074d, #cc5333);
}

.gradient-2 {
  background: linear-gradient(to right, #1a2980, #26d0ce);
}

.gradient-3 {
  background: linear-gradient(to right, #f12711, #f5af19);
}

.gradient-4 {
  background: linear-gradient(to left, #8e2de2, #4a00e0);
}